@import "tailwindcss";

@theme {
  --color-deep-bordeaux: #a62932;
  --color-warm-ivory: #f5f3e9;

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #a62932;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-warm-ivory);
  color: var(--color-deep-bordeaux);
  font-family: var(--font-sans);
}



/* 3D Circular Push Button */
.push-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.push-button {
  width: 140px;
  height: 140px;
  border: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  position: relative;
  transition: 0.3s;
}

/* Day Mode Colors */
.push-button.day-mode {
  --btn-primary: 0, 0, 0;
  --btn-secondary: 50, 50, 50;
  outline: 8px solid rgba(var(--btn-primary), 0.2);
  border-radius: 100%;
}

/* Night Mode Colors */
.push-button.night-mode {
  --btn-primary: 245, 243, 233;
  --btn-secondary: 200, 198, 188;
  outline: 8px solid rgba(var(--btn-primary), 0.2);
  border-radius: 100%;
}

.push-button .back {
  background: rgb(var(--btn-secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.push-button .front {
  background: linear-gradient(0deg, rgba(var(--btn-primary), .6) 20%, rgba(var(--btn-primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--btn-secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--btn-secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  transform: translateY(-15%);
  transition: .15s;
}

.push-button.day-mode .front {
  color: rgb(245, 243, 233);
}

.push-button.night-mode .front {
  color: rgb(10, 10, 10);
}

.push-button:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.button-label {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
}